body {
  margin: 0;
  padding: 0;
  background-color: rgba(35, 37, 44, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
#global{
  height: auto;
  width: 317px;
  border-radius: 10px;
  background: rgba(245, 245, 245, 1);
}
img{
  width: 317px;
  height: 317px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

}
#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
#name {
  font-size: 25px;
  color: rgba(43, 40, 58, 1);
  font-weight: bold;
}
#work{
  color: rgba(244, 125, 39, 1);
  font-size: 12px;
  margin-top: 5px;
}
#website {
  color: #4A4E74;
  font-size: 12px;
}
button {
  width: 260px;
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  gap: 10px;
  background-color: #FFFFFF;
  border: 1px solid rgba(209, 213, 219, 1);
  border-radius: 10px;
  margin-top: 5px;
}
button > img {
  width: 30px;
  height: 30px;
  color: #374151;
}
button > span {
  color: #374151;
  font-size: 15px;
}
#text {
  text-align: justify;
}
#text > h3{
  color: rgba(43, 40, 58, 1);
  text-align: justify;
  padding-left: 25px;
  margin-top: 10px;
}
#text > p{
  color: rgba(74, 78, 116, 1);
  padding-left: 25px;
  padding-right: 25px;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 20px;
}
#footer{
  background-color: rgba(213, 212, 216, 1);
  width: 317px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}
#footer > img{
  width: 25px;
  height: 25px;
}